[Unit]
Description=Runs something

[Service]
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/local/bin/kiel hour --enact 

[Install]
WantedBy=kiel.target

