[Unit]
Description=Fetch Kiel data

[Timer]
Unit=kielfetch.service
OnCalendar=*-*-* 14,16,21:00:00
RandomizedDelaySec=5m
AccuracySec=1s

[Install]
WantedBy=timers.target

